---
import Nav from "../components/Nav.astro";
const { title } = Astro.props

interface Props {
    title: string;
};
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HCCT</title>
</head>
<body class="bg-blue-200">
    <Nav />
    <slot />
</body>
</html>