<nav>
    <ul class="space-x-5 text-2xl bg-black text-white text-center">
        <a href="/">Home</a>
        <a href="/about/">About HCCT</a>
        <a href="/beliefs/">Statement of Faith</a>
    </ul> 
</nav>