---
import Layout from "./layouts/Base.astro";
---
<Layout title="About HCCT">
<h1 class="text-4xl text-center">About HCCT</h1>
<hr>
<div class="mr-20 ml-20 mt-10 mb-10">
    <p class="text-2xl">
    Welcome to Hinunangan Christian Church Talisay (HCCT). Our church started in August, 2020. Then we 
    called ourselves Talisay Christian Church Fellowship (TCCF). Our servies started at 1:30 in the afternnon at that time.
    Our Services now start at 9:00 am. Sunday afternoon we had a local pastor conducting our service.
    However, in January, 2021 we had an amiable parting of the ways and Todd Malaki (pictured below) 
    was named Pastor of HCCT. We became approved by the Security Exchange Commission and offiially became 
    HCCT (Hinunangan Christian Church Talisay).
    </p>
    <p class="text-2xl">     
    No matter what your background and where you are now you will be welcome at HCCT. We are a family, 
    Gospel     
        HCCT is located in Talisay on the same road with the Barangay hall. Look for the big red gate. </p>
    </p>
    </div>
<div class="flex justify-center">
    <img src="/PastorTodd.jpg" alt="Pastor Todd Malaki" width=400/>
</div>
</Layout>