---
import Layout from "./layouts/Base.astro";
---

<Layout>
	<h1 class="text-center text-4xl mt-10">Welcome to Hinunangan Christian Talisay</h1>
	<div class="mt-20 flex justify-center">
		<img src="/logo.jpeg" alt="Church Logo">
	</div>
</Layout>