---
import Layout from "./layouts/Base.astro";

const title = "Our Mission";
---

<Layout>
<h1 class="text-center text-4xl">{ title }</h1>
<div class="ml-20 mt-10 mr-20">
<p class="space-y-2">
   Our mission can be summarize in Matthew 28:19-20.
</p>
<br>
<p>
Mat 28:19 Go therefore and make disciples of all nations, baptizing them in the name of the Father
   and of the Son and of the Holy Spirit,
<br>
<p>
Mat 28:20 teaching them to observe all that I have commanded you. And behold, I am with you always, to the end of the age.”
</p>
<br>
<p class="text-bold">This is our mission whereever we go, whether we be in Talisay, 
   Hinunangan, all of the Philippines, or even the entire world.</p>
</div>
</Layout>